[Unit]
Description=Scheduler Worker Executor
Requires=scheduler-worker-init.service
After=scheduler-worker-init.service

[Service]
KillMode=process
ExecStart=/usr/bin/bundle exec ruby executor.rb --seapig-server="http://scheduler-server/seapig" --scheduler_uri="http://scheduler-server" --worker_name="%H"
Type=simple
Restart=always

WorkingDirectory=/opt/tester/scheduler-worker
User=tester
Group=tester

StartLimitInterval=10s
StartLimitBurst=25
RestartSec=500ms

[Install]
WantedBy=multi-user.target
